
<div id="section1">
  <div class="relative-pos img-wrap">
    <img class="main-img" src="http://www.sait.ca/Images/International%20Students/DSC_1323.jpg">
  </div>
</div>

<div id="section2" class ="absolute-pos">
  <div class="sec2-body">
      <%= image_tag "logo.png", id:"logo" %>
      <p class='lead'>Find your perfect community</p>
      <div class='community-buttons-types'>
        <button type="button" class="btn btn-default community-btn">Hikes</button>
        <button type="button" class="btn btn-default community-btn">Coffee</button>
        <button type="button" class="btn btn-default community-btn">Schools</button>
        <button type="button" class="btn btn-default community-btn">Kids</button>
        <button type="button" class="btn btn-default community-btn">Parks</button>
        <button type="button" class="btn btn-default community-btn">Quiet</button>
        <button type="button" class="btn btn-default community-btn">Okotoks</button>
        <button type="button" class="btn btn-default community-btn">Hospital</button>
      </div>
    <div>
      <a id="landing-btn" href="/communities" class="btn btn-warning btn-lg"><strong>Search</strong> </a>
    </div>
  </div>
</div>

<script>
        $(document).ready(function() {
          console.log($('button'))
        $("button").on('click', function(event) {
            $(this).toggleClass('community-btn-color');
        })
        });
</script>