
<div id="section1">
  <div class="relative-pos img-wrap">
    <img class="main-img" src="http://www.sait.ca/Images/International%20Students/DSC_1323.jpg">
  </div>
</div>

<div id="section2" class ="absolute-pos">
  <div class="sec2-body">
      <%= image_tag "logo.png", id:"logo" %>
      <h3>Find your perfect new home!</h3>
    <div>
      <a id="landing-btn" href="/communities" class="btn btn-warning btn-lg"><strong>Search</strong> </a>
    </div>
  </div>
</div>