
    <div id="section1">
        <div class="ps-slider">

            <div class="slide1">
                <div class="slide1-body">
                        <div class="relative-pos img-wrap">
                            <img class="main-img" src="http://www.sait.ca/Images/International%20Students/DSC_1323.jpg">
                        </div>

                </div>
            </div>
        </div>


    <div id="section2" class ="absolute-pos">
        <div class="sec2-body">
            <h1 class="title">HomeFetch</h1>
            <p class="tagline">Find your perfect new home!</p>
            <div>
             <a id="c-btn" href="#" class="btn"><strong>Search</strong> </a>
            </div>
        </div>
    </div>