body {
  padding-top: 50px;
  background-color: #F0F8FF;
}

#map-canvas {
        height: 500px;
        width: 95%;
        margin-top:  20px;
        padding: 0px,
        border: 1px solid;
        border-radius: 25px;
      }

.navbar {
  background-color: #1476d9;
}

 {
  color: #000;
}


h4 {
    line-height: .8;
}

/* ========= Landing Page ======== */

.main-img {
    height:800px;
    width:100%;
    opacity: 0.8;
    min-height: 400px;
}

.relative-pos {
    position:relative;
    
}

.absolute-pos {
    position:absolute;
}

#section1 {
  overflow: hidden;
}

#section2 {
    top: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 1070px;
    width: 100%;
}

#logo {
  max-width: 500px;
}

#landing-btn {
  width: 300px;
}

.home-container {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 90%;
}

.home-container img {
  width: 100%;
}

.address {
  background-color: #6bc535;
}

.address h3 {
  padding: 10px;
  color: #FFFFFF;
}

.builder-info {
  background-color: #D6D6D6;
  padding: 15px;
  width: 100%;
}

.builder-info h1 {
  color: #FFFFFF;
}

.home-info {
  margin-top: -10px;
  background-color: #D6D6D6;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.home-info h4 {
  margin-bottom: 20px;
}

.builder-info #sales-map {
  height: 300px;
  width: 100%;
}

.sales-info {
  padding: 15px;
}