body {
  padding-top: 50px;
  background-color: #F0F8FF;
}

#map-canvas {
        height: 500px;
        width: 100%;
        margin-top:  20px;
        padding: 0px
        border: 5px solid;
        border-radius: 25px;
      }

.navbar {
  background-color: #1476d9;
}

 {
  color: #000;
}

h4 {
    line-height: .8;
}

.main-img {
    height:800px;
    width:100%;
    opacity: 0.8;
    min-height: 400px;
}